apiVersion: batch/v1
kind: CronJob
metadata:
  name: wikicron-job
  namespace: project
spec:
  schedule: "0 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
          - name: wikicron
            image: PROJECT/WIKICRON
            imagePullPolicy: Always
            env:
              - name: DATABASE_URL
                valueFrom:
                  secretKeyRef:
                    name: db-credentials
                    key: DATABASE_URL